<div class="room-details-form-container">
    <nz-form [formGroup]="roomDetailsForm" nzLayout="vertical" class="room-details-form">
    
        <div class="form-title">Enter Room Details</div>
       <nz-form-item>
        <nz-form-control [nzSpan]="16" [nzOffset]="4">
            <input nz-input formControlName="name" placeholder="Room Name"/>
        </nz-form-control>
       </nz-form-item>

       <nz-form-item>
        <nz-form-control [nzSpan]="16" [nzOffset]="4">
            <input nz-input formControlName="type" placeholder="Room type"/>
        </nz-form-control>
       </nz-form-item>

       <nz-form-item>
        <nz-form-control [nzSpan]="16" [nzOffset]="4">
            <input nz-input formControlName="price" placeholder="Room Price"/>
        </nz-form-control>
       </nz-form-item>

       <nz-form-item>
        <nz-form-label nz-form-item-control [nzSpan]="11" [nzOffset]="4">
            <button nz-button nzType="primary" nzBlock [disabled]="roomDetailsForm.invalid" type="submit" (click)="submitForm()">Save</button>

        </nz-form-label>
       </nz-form-item>
    </nz-form>
</div>
